main {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.headers {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 {
	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
}
.back {
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}

main > a {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-top: 20px;
	margin-right: 1150px;
}

.container {
	width: 1200px;
	display: flex;
	align-items: center;
	flex-direction: center;
	gap: 24px;
	flex-wrap: wrap;
}
